{% block descripcion_row %}
<tr ng-repeat="desc in descripciones">
    <td class="td-posicion">
        <span><i class="icon-chevron-up" ng-click="subir(desc)" ></i>
            <i class="icon-chevron-down" ng-click="bajar(desc)" ></i>
        </span>
        <span>{{'{{desc.posicion}}'}}</span>
    </td>
    <td ng-mouseenter="setActiveDescription(desc);prepareManosDeObra($event);" ng-mouseleave="hideManosDeObra()">
        {{ form_widget(form.descripcion, { attr: {
style: 'width: 92%',
'ng-model': 'desc.descripcion',
autocomplete: 'off',
'ng-change': 'hideOrShowManosDeObra(desc.descripcion)',
'ng-focus': 'hideOrShowManosDeObra(desc.descripcion)',
'ng-keyup': 'onKeyUp($event)',
        } }) }}
{#
#}
        {#<input type="text" ng-model="desc.descripcion" style="width: 92%" ng-change="hideOrShowManosDeObra(desc.descripcion)" ng-focus="hideOrShowManosDeObra(desc.descripcion)" ng-keyup="onKeyUp($event)" />#}
        <a href="#" data-container="body" data-toggle="popover" data-placement="bottom" materiales-popover>
            <span class="glyphicon glyphicon-list" style="vertical-align: top; font-size: 20px"></span>
        </a>
    </td>
{#    <td><input type="text" ng-model="desc.precio" style="width: 88%" /></td>#}
    <td>{{ form_widget(form.precio, {attr: { style: 'width: 88%', 'ng-model': 'desc.precio' } }) }}</td>
{#    <td><input type="text" ng-model="desc.cantidad" style="width: 88%" /></td>#}
    <td>{{ form_widget(form.cantidad, {attr: { style: 'width: 88%', 'ng-model': 'desc.cantidad' } }) }}</td>
    <td style="text-align: right;padding: 5px 10px 0 0">{{ '{{subTotal(desc)|number:2}}' }} Bs</td>
    <td class="link-imagen" style="padding-top: 3px;cursor: pointer" ng-dblclick="remove(desc)">
        <img src="{{ asset("bundles/presupuesto/img/figuras/Error.png") }}" />
    </td>
</tr>
{% endblock %}
